body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background: linear-gradient(rgb(143, 3, 101), rgba(95, 148, 247, 0.8)),url('image/blog.jpg') center center no-repeat ;
    height: 50vh;
    background-size: cover;
    text-align: center;
    justify-content: center;
    padding-top: 8%;
}
.header h1,p{
    color: #fff;
}
.container{
    width: 90%;
    justify-content: center;
    margin-left: 5%;

}
.card-deck{
    margin-top: 3%;
}
.card-deck .single-card{
    
    width: 350px;
    /* height: 198px; */
    background: #fff !important;
    border: 1px solid rgb(224, 224, 224);
    margin-left: 2%;
    box-shadow: 0 3px 5px 1px rgb(202, 191, 191) !important;
    margin-bottom: 3%;

}
.card-deck .single-card .number{
    background: rgb(121, 1, 95);
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 2%;
    margin-left: -32px;
    margin-top: -30px;
    font-size: 17px;
}

.card-deck .single-card .card-title, .card-text{
    color: #444 !important;
   
}
.card-deck .single-card .card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 170px; */
    justify-content: center;
    text-align: center !important;
    margin-left: 10%;
    margin-right: 10%;
}
.read-more button{
    background: rgb(121, 1, 95);
    color: #fff !important;
    padding: 1% 2% !important;
    border: none !important;
    text-align: center;
    width: 100% !important;
    border-radius: 0%;
    cursor: pointer;
}
.read-more a{
    color: #fff !important;
    padding: 1% 2% !important;
    border: none !important;
    text-align: center;
    width: 100% !important;
    border-radius: 0%;
    cursor: pointer;
}
.card-deck .single-card .card-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

/* single page post design */
.single-page-title{
    color: rgb(97, 1, 76);
    text-align: center;
    margin-top: 5%;
    font-weight: 700;
}
.single-post{
    width: 100%;
    background: #fff;
    padding: 5%;
    border: 1px solid rgb(235, 227, 227);
    margin-top: 5%;
    box-shadow: 0 3px 5px 1px rgb(175, 173, 173);
    background: rgb(97, 1, 76);
}
.single-post h3,p{
    color: #fff !important;
}
.single-page-title{
    color: rgb(97, 1, 76);
    margin-left: 2%;
}
.single-page-paragraph{
    color: #444 !important;
}
.fa-arrow-circle-left{
    color: rgb(97, 1, 76);
    font-size: 50px;
    display: inline-block;
    margin-top: 4.4%;
}

@media only screen and (max-width: 1024px){
    .card-deck .single-card{
        width: 290px;
        margin-left: 2.3%;
    }
}

@media only screen and (max-width: 768px){
    .card-deck .single-card{
        width: 315px;
        margin-left: 4%;
    }
}

@media only screen and (max-width: 425px){
    .header h1{
        margin-top: 8%;
        font-size: 24px;
    }
    .header p{
        font-size: 14px;
    }
    .card-deck .single-card{
        width: 355px;
        margin-left: 5%;
        margin-top: 3.5%;
    }
    .card-deck .single-card .card-title{
        font-size: 16px;
    }
    .card-deck .single-card .card-text{
        font-size: 14px;
    }
}

@media only screen and (max-width: 375px){
    .card-deck .single-card{
        width: 330px;
        margin-left: 2.4%;
    }
}

@media only screen and (max-width: 320px){
    .card-deck .single-card{
        width: 280px;
        margin-left: 2%;
    }
    .header h1{
        margin-top: 8%;
        font-size: 20px;
    }
}